body {
    font-family: "Inter", sans-serif;
}
label {
    font-weight: 700;
}
input, textarea {
    padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}
button {
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #ff5a28;
    border-radius: 11px;
    width: 100%;
    border: 3px solid rgba(100%,100%,100%,0);
    border-width: 3px 3px 3px 3px;
    padding: 11px 13px 11px 13px;
    color: #ffffff;
    font-family: arial;
    font-size: 18px;
    font-style: normal;
    margin-right: 5px;
}